*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #02242c;
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-thumb {
    background-color: #9893da;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #7673a5;
}
.header {
    overflow: hidden;
    background-color: #02242c77;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}
.header a {
    float: left;
    color: #9893da;
    text-align: center;
    padding: 1.5vh 2vw;
    margin: 0px 3vw;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 0px;
}
.header-right {
    float: right;
}
.header a.activePage {
    color: #ddfcad;
    border-bottom: 2px solid #ddfcad;
}
.header a:hover {
    background-color: #9893da52;
}
#mainPage {
    background-color: black;
    overflow: hidden;
    background-image: url("../Images/pattern1Cropped.jpg");
    background-size: 90%;
    width: 100%;
    height: 100vh;
}
#mainPage h3 {
    color: #9893da;
    margin-top: 2vh;
    width: max-content;
}
#mainPage h2 {
    color: #9893da;
    font-size: 30px;
    margin: 0;
}
#mainPage h1 {
    color: #ddfcad;
    margin: 0;
    font-size: 40px;
    border-bottom: 5px solid #9893da;
}
#left {
    float: left;
    width: 30%;
    height: 40vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
    margin-left: 20%;
}
#left h2, h1{
    width: max-content;
    margin-top: 30%;
}
#interests{
    color: #ddfcad;
    position: relative;
    --dynamic-width: 0%;
}
#interests::before {
    content: "";
    position: absolute;
    left: 2px;
    bottom: -4px;
    height: 15px;
    width: var(--dynamic-width);
    border-bottom: 3px solid #9893da;
}
#right {
    float: right;
    max-width: 30%;
    margin-right: 20%;
    height: 40vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
}
#profilePic {
    float: right;
    margin: 20px;
    min-width: 20%;
    max-width: 70%;
    height: auto;
    border-radius: 20px;
}
.footer {
    background-color: #02242c;
    height: 90vh;
}
.form {
    margin: 10vh;
}
.form h2, form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #ddfcad;
}
.form h2 {
    border-bottom: 3px solid #9893da;
    margin-bottom: 10%;
}
#leftFooter {
    float: left;
    width: 50%;
    height: 100%;
    margin-top: 5vh;
}
#leftFooter ul {
    list-style: none;
    display: inline;
    float: left;
    margin: none;
}
#leftFooter li {
    margin-top: 2vh;
    margin-bottom: 14vh;
    padding-right: 5vw;
}
#leftFooter a {
    border-bottom: 1px solid #9893da;
    text-decoration: none;
    color: #9893da;
}
#rightFooter {
    float: right;
    width: 50%;
    margin-top: 5vh;
}
#rightFooter form {
    display: block;
}
.input {
    border: none;
    background-color: transparent;
    color: #9893da;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 2%;
    border-radius: 1px;
    margin-bottom: 4%;
    border-bottom: 2px solid #9893da;
    display: block;
    width: 30vw;
    font-size: 16px;
}
.input::placeholder {
    color: #9893da;
}
.input:focus {
    outline: #9893da;
    box-shadow: 0 0 4px 1px #9893da;
}
#messageArea {
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    resize: vertical;
}
#messageArea::-webkit-scrollbar {
    width: 16px;
}
#messageArea::-webkit-scrollbar-thumb {
    background-color: #9893da;
}
#messageArea::-webkit-scrollbar-thumb:hover {
    background-color: #7673a5;
}
.button {
    background-color: #9893da;
    color: #ddfcad;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 30%;
    font-size: 16px;
    font-weight: 700;
}
.button:hover {
    cursor: pointer;
    background-color: #7673a5;
}
.button:active {
    border: #ddfcad;
    box-shadow: 0 0 4px 1px #9893da;
}
