*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #02242c;
}
.header {
    overflow: hidden;
    background-color: #02242c77;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.header a {
    float: left;
    color: #9893da;
    text-align: center;
    padding: 10px 50px;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 0px;
}
.header-right {
    float: right;
}
.header a.activePage {
    color: #ddfcad;
    border-bottom: 2px solid #ddfcad;
}
.header a:hover {
    background-color: #9893da52;
}
#mainPage {
    background-color: black;
    overflow: hidden;
    background-image: url("../Images/pattern1Cropped.jpg");
    background-size: 90%;
    /*-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    */width: 100%;
    height: 100vh;
}
#mainPage h3 {
    color: #9893da;
    margin-top: 2vh;
    width: max-content;
}
#mainPage h2 {
    color: #9893da;
    font-size: 30px;
    margin: 0;
}
#mainPage h1 {
    color: #ddfcad;
    margin: 0;
    font-size: 40px;
    border-bottom: 5px solid #9893da;
}
#left {
    float: left;
    width: 30%;
    height: 40vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
    margin-left: 20%;
}
#left h2, h1{
    width: max-content;
    margin-top: 30%;
}
#interests{
    color: #ddfcad;
    position: relative;
    --dynamic-width: 0%;
}
#interests::before {
    content: "";
    position: absolute;
    left: 2px;
    bottom: -4px;
    height: 15px;
    width: var(--dynamic-width);
    border-bottom: 3px solid #9893da;
}
#right {
    float: right;
    max-width: 30%;
    margin-right: 20%;
    height: 40vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
}
#profilePic {
    float: right;
    margin: 20px;
    min-width: 20%;
    max-width: 70%;
    height: auto;
    border-radius: 20px;
}

.footer {
    background-color: #02242c;
    overflow: hidden;
    height: 100vh;
}
.form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.form h2, form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.input {
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin: 10px 0;
}
.input::placeholder {
    color: rgb(24, 24, 24);
}